<!DOCTYPE html>
<html>
  <head>
    <title>Minha aplicação Rails com Tailwind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= link_to "Minha aplicação Rails", root_path, class: "text-white" %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="py-10">
      <%= yield %>
    </div>
  </body>
</html>
